/* вторичный цвет фона #F5F4FA;*/
/* фон footer #2F303A; */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway/raleway-v18-latin_cyrillic-regular.eot');
  src: local(''),
    url('../fonts/raleway/raleway-v18-latin_cyrillic-regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/raleway/raleway-v18-latin_cyrillic-regular.woff2')
      format('woff2'),
    url('../fonts/raleway/raleway-v18-latin_cyrillic-regular.woff')
      format('woff'),
    url('../fonts/raleway/raleway-v18-latin_cyrillic-regular.ttf')
      format('truetype'),
    url('../fonts/raleway/raleway-v18-latin_cyrillic-regular.svg#Raleway')
      format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/raleway/raleway-v18-latin_cyrillic-700.eot');
  src: local(''),
    url('../fonts/raleway/raleway-v18-latin_cyrillic-700.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/raleway/raleway-v18-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/raleway/raleway-v18-latin_cyrillic-700.woff') format('woff'),
    url('../fonts/raleway/raleway-v18-latin_cyrillic-700.ttf')
      format('truetype'),
    url('../fonts/raleway/raleway-v18-latin_cyrillic-700.svg#Raleway')
      format('svg');
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
  --dark-bg: #2f303a;
  --light-bg: #e5e5e5;
  --team-bg: #f5f4fa;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.link-nav,
.link-contact {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.contact .link-contact {
  color: var(--primary-text-color);
}

.logo,
.active,
.link-nav:hover,
.link-nav:focus,
.link-contact:hover,
.link-contact:focus,
.link-footer:hover,
.link-footer:focus {
  color: var(--accent-color);
}

.link-footer,
.address {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.logo-footer,
.address {
  color: var(--white);
}

.logo-header {
  color: black;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer,
.hero {
  background-color: var(--dark-bg);
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: var(--white);
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header .logo {
  margin-right: 93px;
}

.menu {
  display: inline-flex;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.link-contact:not(:last-child) {
  margin-right: 50px;
}

/* hero */
.hero-title,
.button {
  color: var(--white);
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;

  background-color: var(--accent-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  /* text-align: center; */
  letter-spacing: 0.06em;
  margin-bottom: 200px;
}

.container .title {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* all titles (h2-h3) */
.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

.features,
.work-section {
  color: var(--light-bg);
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.features-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.features .title {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team-section {
  color: var(--team-bg);
}

.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: left;
}

.text {
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

.features .text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.section .work-title {
  margin-bottom: 50px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  text-align: center;
}

.section .team-title {
  margin-bottom: 50px;
}

.team-container {
  margin-top: 30px;
  /* width: 270px; */

  /* text-align: center; */
}

.team-container .title {
  margin-bottom: 10px;

  text-align: center;
}

.team-container .text {
  /* display: inline-block; */
  margin-bottom: 30px;
}

.container-footer {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer .logo {
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
